@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 85%; /* #FFFFFF (Branco) */
		--foreground: 0 0% 23%; /* #3B3B3B (Cinza Escuro) */
		--card: 0 0% 100%; /* #FFFFFF (Branco) */
		--card-foreground: 0 0% 23%; /* #3B3B3B (Cinza Escuro) */
		--popover: 0 0% 100%; /* #FFFFFF (Branco) */
		--popover-foreground: 0 0% 23%; /* #3B3B3B (Cinza Escuro) */
		--primary: 24 9.8% 10%; /* #2C1A1A (Marrom Escuro) */
		--primary-foreground: 0 0% 100%; /* #F7F7F7 (Quase Branco) */
		--secondary: 60 4.8% 95.9%; /* #F3F3F3 (Cinza Muito Claro) */
		--secondary-foreground: 24 9.8% 10%; /* #2C1A1A (Marrom Escuro) */
		--muted: 60 4.8% 95.9%; /* #F0F0F0 (Cinza Claro Suave) */
		--muted-foreground: 25 5.3% 44.7%; /* #726E6E (Cinza Médio) */
		--accent: 210 10% 90%; /* #CCDDEE (Azul Claro Suave) */
		--accent-foreground: 210 10% 30%; /* #335577 (Azul Escuro) */
		--destructive: 0 72.22% 50.59%; /* #CC0000 (Vermelho Intenso) */
		--destructive-foreground: 0 0% 100%; /* #F7F7F7 (Quase Branco) */
		--border: 20 5.9% 90%; /* #E5E5E5 (Cinza Claro) */
		--input: 20 5.9% 90%; /* #E5E5E5 (Cinza Claro) */
		--ring: 0 0% 23%; /* #3B3B3B (Cinza Escuro) */
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
